<form method="post" enctype="multipart/form-data" hx-encoding="multipart/form-data">
  <input type="hidden" name="id" value="<%= data.id %>">
  <div class="mb-3">
    <label for="gameID" class="form-label">Game ID</label>
    <input type="text" class="form-control" id="gameID" name="gameID" value="<%= data.gameID %>" required>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description (HTML allowed)</label>
    <textarea class="form-control" id="description" name="description" rows="3" required><%= data.description %></textarea>
  </div>
  <div class="mb-3">
    <label for="icon" class="form-label">Icon File</label>
    <input type="file" class="form-control" id="icon" name="icon">
  </div>
  <div class="mb-3">
    <label for="headerImage" class="form-label">Header Image File</label>
    <input type="file" class="form-control" id="headerImage" name="headerImage">
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" class="form-control" id="type" name="type" value="<%= data.type %>" >
  </div>
  <div class="mb-3">
    <label for="logo" class="form-label">Logo File</label>
    <input type="file" class="form-control" id="logo" name="logo">
  </div>
  <div class="mb-3">
    <label for="imageCard" class="form-label">Image Card File</label>
    <input type="file" class="form-control" id="imageCard" name="imageCard">
  </div>
  <div class="mb-3">
    <label for="heroImage" class="form-label">Hero Image File</label>
    <input type="file" class="form-control" id="heroImage" name="heroImage">
  </div>
  <% const btnText = typeof buttonText !== 'undefined' ? buttonText : 'Update'; %>
  <button type="submit" class="btn btn-primary"><%= btnText %></button>
  <a href="/games" class="btn btn-secondary">Cancel</a>
</form>

<script>
document.addEventListener('htmx:responseError', evt => {
  const xhr = evt.detail.xhr;

  if (xhr.status == 400) {
    const form = evt.detail.elt;
    let errors;
    try {
      errors = JSON.parse(xhr.responseText);
    } catch (e) {
      errors = {};
    }
    
    alert(xhr.responseText);
  }
});
</script>